<nav class="nav-wrapper">
    <ul class="nav-left nav">
      <li class="home"><a href="#">&ensp;</a></li>
      <li class="active"><a href="#">Poziom podstawowy</a></li>
      <li><a href="#">Poziom średni</a></li>
      <li><a href="#">Poziom zaawansowany</a></li>
    </ul>

    <ul class="nav-right nav">
      <li><a href="#"><span class="smallest">A</span> <span class="small">A</span> A</a></li>
      <li><a href="#">EN</a></li>
    </ul>
</nav>
