<main>
  <div class="row">
    <div class="col-md-6">
      <figure>

      </figure>
    </div>
    <div class="col-md-6">
      <h1 class="text-uppercase">Nauka i Technika</h1>
    </div>
  </div>
</main>

<!--<app-content></app-content>-->
<app-nav></app-nav>
