/* You can add global styles to this file, and also import other style files */
$nav-scheme-color: #fff;
$scheme-active: #deff00;

html, body {
  margin: 0;
  min-height: 100%;
}

body {
  background-image: url('assets/body-bg-red.jpg');
  font-family: 'Calibri';
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

app-nav {
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;

  &:after {
    clear: both;
    content: '';
  }
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;

  > li {
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);

    a {
      padding: 18px 40px;
      display: inline-block;
      color: rgba(255, 255, 255, 0.6);
    }

    border: 1px solid transparent;
    border-radius: 30px;

    &.active {
      border: 1px solid $scheme-active;
      box-shadow: inset 0 0px 5px 1px $scheme-active, 0 0px 5px 1px $scheme-active;

      a {
        color: $nav-scheme-color;
      }
    }

    &.home {
      background: url('assets/home.png');
      background-repeat: no-repeat;
      margin-right: 60px;
      background-size: contain;
      border-color: $nav-scheme-color;
      box-sizing: border-box;
      padding-left: 0;
      padding-right: 0;
      box-shadow: inset 0 0px 5px 1px $nav-scheme-color, 0 0px 5px 1px $nav-scheme-color;

      a {
        padding-left: 23px;
        padding-right: 23px;
        height: 56px;
        width: 56px;
        box-sizing: border-box;
      }
    }
  }
}


.nav-left {
  float: left;
}

.nav-right {
  float: right;

  > li {
    border: 1px solid $nav-scheme-color;

    a {
      padding: 18px 20px;
    }

    + li {
      margin-left: 20px;
    }
  }
}

.smallest {
  font-size: 50%;
}

.small {
  font-size: 75%;
}

.text-uppercase {
  text-transform: uppercase;
}
